# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

.idea/dictionaries/
.idea/artifacts/
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/encodings.xml
.idea/kotlinc.xml
.idea/kotlinScripting.xml
